#==============================================================================#
# GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# Project specific
#==============================================================================#
_ignore
src/test/java/com/acmutv/ontoqa/MiscTest.java

#==============================================================================#
# JAVA
#==============================================================================#
#==============================================================================#
#   Package Files
#==============================================================================#
#==============================================================================#
#   Directories
#==============================================================================#
target/
#==============================================================================#
#   Mobile Tools for Java (J2ME)
#==============================================================================#
#==============================================================================#
#   JVM crash logs
#==============================================================================#
#==============================================================================#
# BUILD TOOLS
#==============================================================================#
#==============================================================================#
# Maven
#==============================================================================#
log/
#==============================================================================#
# IDE
#==============================================================================#
#==============================================================================#
# Eclipse
#==============================================================================#
/target
#==============================================================================#
#   External tool builders
#==============================================================================#
#==============================================================================#
#   Locally stored "Eclipse launch configurations"
#==============================================================================#
#==============================================================================#
#   CDT-specific
#==============================================================================#
#==============================================================================#
#   JDT-specific (Eclipse Java Development Tools)
#==============================================================================#
#==============================================================================#
#   Java annotation processor (APT)
#==============================================================================#
#==============================================================================#
#   PDT-specific
#==============================================================================#
#==============================================================================#
#   sbteclipse plugin
#==============================================================================#
#==============================================================================#
#   LateX
#==============================================================================#
#==============================================================================#
#   STS (Spring Tool Suite)
#==============================================================================#
#==============================================================================#
# Xcode
#==============================================================================#
#==============================================================================#
#   Various settings
#==============================================================================#
#==============================================================================#
#   Other
#==============================================================================#
#==============================================================================#
#   Jetbrains
#==============================================================================#
.idea
#==============================================================================#
# OS
#==============================================================================#
#==============================================================================#
# Linux
#==============================================================================#
#==============================================================================#
#   General
#==============================================================================#
#==============================================================================#
#   KDE directory preferences
#==============================================================================#
#==============================================================================#
#   Linux trash folder which might appear on any partition or disk
#==============================================================================#
#==============================================================================#
# Apple OSX
#==============================================================================#
#==============================================================================#
#   General
#==============================================================================#
#==============================================================================#
#   Icon must end with two \r
#==============================================================================#
#==============================================================================#
#   Thumbnails
#==============================================================================#
#==============================================================================#
#   Files that might appear in the root of a volume
#==============================================================================#
#==============================================================================#
#   Directories potentially created on remote AFP share
#==============================================================================#
#==============================================================================#
# Microsoft Windows
#==============================================================================#
#==============================================================================#
#   Windows image file caches
#==============================================================================#
#==============================================================================#
#   Folder config file
#==============================================================================#
#==============================================================================#
#   Recycle Bin used on file shares
#==============================================================================#
#==============================================================================#
#   Windows Installer files
#==============================================================================#
#==============================================================================#
#   Windows shortcuts
#==============================================================================#
