<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %method - %msg%n"/>
    </Console>

    <File name="File" fileName="data/log/ontoqa.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %method - %msg%n"/>
    </File>
  </Appenders>

  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="org.apache.jena" level="OFF"/>
    <Logger name="org.eclipse.rdf4j" level="OFF"/>
  </Loggers>
</Configuration>