<!DOCTYPE HTML>
<html>
<head>
  <title>springapp</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/app.css">
  <script src="/assets/scripts/app.js"></script>
</head>
<body>
<h1>Sample Page (more pages)</h1>
<p>This is a static page located in classpath:/public/more-pages</p>
<p class="red">If this paragraph is RED, static assets are correctly linked.</p>
<a href="/">Index</a>
<a href="/views/sample.html">Sample Page</a>
<button onclick="showAlert()">Click me</button>
</body>
</html>